<nav role="navigation">
    <div id="js-enquiry-flyout" class="enquiry-flyout">
        <div class="enquiry-flyout-header-container">
            <h2 class="enquiry-flyout-title">
                Request Availability
            </h2>
          
            <div class="close-flyout-container">
                <button onclick="EnquiryFlyout.close()"
                    class="close-flyout-button"
                    type="button"
                    title="Close request menu"
                >
                    &times;
                </button>
            </div>
        </div>
      
        <div id="js-enquiry-product-list" class="enquiry-product-list-container">
        </div>

          
    </div>
</nav>