<div class="metastock-selected-location-container" style="display:none;">
    <button class="metastock-selected-location-link metastock-header"
       onclick="MetastockFlyout.toggle()"
       aria-label="View all stores" tabindex="0"
    >
        <span class="metastock-my-store">My Store:</span>
        <span class="js-metastock-store-name">Loading...</span>
        <span class="metastock-my-store-icon">
            <svg class="metastock-icon metastock-icon-location" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
        </span>
    </button>
</div>