<div class="metastock-selected-location-container" style="display:none;">
    <button class="metastock-selected-location-link"
       onclick="MetastockFlyout.toggle()"
       aria-label="View all stores" tabindex="0"
    >
        <span class="metastock-my-store">My Store:</span>
        <span class="js-metastock-store-name">Loading...</span>
        <span class="metastock-my-store-icon">
            <svg class="metastock-icon metastock-icon-location"
                 viewBox="0 0 24 24" color="brand"
                 aria-hidden="true" role="presentation"
            >
                <path fill-rule="evenodd" d="M12.4 0c4.644 0 8.4 3.756 8.4 8.4 0 6.3-8.4 15.6-8.4 15.6S4 14.7 4 8.4C4 3.756 7.756 0 12.4 0zm0 2.4c-3.312 0-6 2.688-6 6 0 3.42 3.504 8.652 6 11.856 2.544-3.228 6-8.4 6-11.856 0-3.312-2.688-6-6-6zm0 3c1.6569 0 3 1.3431 3 3s-1.3431 3-3 3-3-1.3431-3-3 1.3431-3 3-3z"></path>
            </svg>
        </span>
    </button>
</div>