{%- comment -%}
***************************************************************
PLEASE NOTE: Do not change this file! 
This theme is managed by the Replica app. 
Any manual changes may be automatically overwritten at any time.
3rd PARTY APP DEVELOPERS BEWARE WITH INSTALLS!
Modify at your own peril, a broken website is the likely result.
***************************************************************
{%- endcomment -%}

{% for block in section.blocks %}
	{{ block.settings.custom_popup_code }}
{% endfor %}



{% schema %}
{
  "name": {
    "en": "Custom Popup"
  },
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": {
        "en": "Heading"
      },
      "default": {
        "en": "Popup Title"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "hi": "टेक्स्ट",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
    },
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "en": "Size"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "en": "Small"
          },
          "value": "small"
        },
        {
          "label": {
            "en": "Medium"
          },
          "value": "medium"
        },
        {
          "label": {
            "en": "Large"
          },
          "value": "large"
        }
      ]
    }
  ],
    "blocks": [
    {
      "type": "html",
      "name": {
        "en": "Upload custom popup"
      },
      "settings": [
        {
          "type": "html",
          "id": "custom_popup_code",
          "label": {
            "en": "HTML"
          },
          "default": {
            "en": "<div style='text-align:center;'><h2>Upload popup HTML here</div>"
          }
        },
		{
          "type": "checkbox",
          "id": "display_popup",
          "label": {
            "en": "Display popup"
          },
          "default": false
        },
        {
          "type": "select",
          "id": "alignment",
          "label": {
            "en": "Vertical alignment"
          },
          "default": "top-middle",
          "options": [
            {
              "value": "top-middle",
              "label": {
                "da": "Top",
                "de": "Oben",
                "en": "Top",
                "es": "Superior",
                "fi": "Ylös",
                "fr": "En haut",
                "hi": "सबसे ऊपर",
                "it": "In alto",
                "ja": "上",
                "ko": "위쪽",
                "nb": "Topp",
                "nl": "Boven",
                "pt-BR": "Acima",
                "pt-PT": "Acima",
                "sv": "Högst upp",
                "th": "ด้านบน",
                "zh-CN": "顶部",
                "zh-TW": "頂部"
              }
            },
            {
              "value": "center",
              "label": {
                "en": "Middle"
              }
            },
            {
              "value": "bottom-middle",
              "label": {
                "en": "Bottom"
              }
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Custom popup"
      },
      "category": {
        "en": "Text"
      }
    }
  ]
}
{% endschema %}

