{%- comment -%}
***************************************************************
PLEASE NOTE: Do not change this file! 
This theme is managed by the Replica app. 
Any manual changes may be automatically overwritten at any time.
3rd PARTY APP DEVELOPERS BEWARE WITH INSTALLS!
Modify at your own peril, a broken website is the likely result.
***************************************************************
{%- endcomment -%}

{% include 'breadcrumb' %}

{% case section.settings.grid %}
    {% when '2' %}
      {%- assign featured_collection_width = 'one-half' -%}
      {%- assign featured_collection_size = '485x' -%}
      {%- assign width = '480' -%}
      {%- assign height = '480' -%}
    {% when '3' %}
      {%- assign featured_collection_width = 'small--one-half one-third' %}
      {%- assign featured_collection_size = '315x' %}
      {%- assign width = '310' -%}
      {%- assign height = '310' -%}
    {% when '4' %}
      {%- assign featured_collection_width = 'small--one-half one-quarter' %}
      {%- assign featured_collection_size = '225x' %}
      {%- assign width = '225' -%}
      {%- assign height = '225' -%}
    {% when '5' %}
      {%- assign featured_collection_width = 'small--one-half medium--one-third large--one-fifth' %}
      {%- assign featured_collection_size = '175x' %}
      {%- assign width = '175' -%}
      {%- assign height = '175' -%}
  {% endcase %}

{% case section.settings.sort %}
  {% when 'products_high' or 'products_low' %}
    {%- assign list_collections = collections | sort: 'all_products_count' -%}
  {% when 'date' or 'date_reversed' %}
    {%- assign list_collections = collections | sort: 'published_at' -%}
  {% else %}
    {%- assign list_collections = collections -%}
{% endcase %}
{% if section.settings.sort == 'products_low' or section.settings.sort == 'date' or section.settings.sort == 'alphabetical' %}
  <div class="grid text-center list-collections-template" data-section-id="{{ section.id }}" data-section-type="list-collections-template">
    {% for collection in list_collections %}
      {% unless collection.products_count == 0 %} 
      {% unless collection.handle == 'frontpage' %}
        {% assign featured = collection.handle %}
        {% if section.settings.only_catalyst_categories %}
          {% include 'catalyst-category-logic' %}
        {% else %}
          {% include 'featured-collection' %}
        {% endif %}
      {% endunless %}
      {% endunless %}
    {% endfor %}
  </div>
{% else %}
  <div class="grid text-center collection-grid" data-section-id="{{ section.id }}" data-section-type="list-collections-template">
    {% for collection in list_collections reversed %}
      {% unless collection.handle == 'frontpage' %}
        {% assign featured = collection.handle %}
        {% if section.settings.only_catalyst_categories %}
          {% include 'catalyst-category-logic' %}
        {% else %}
          {% include 'featured-collection' %}
        {% endif %}
      {% endunless %}
    {% endfor %}
  </div>
{% endif %}



{% schema %}
{
  "name": {
    "da": "Siden Kollektionsliste",
    "de": "Kategorien-Liste Seite",
    "en": "Collections list page",
    "es": "Lista de colecciones",
    "fi": "Kokoelmaluettelosivu",
    "fr": "Liste des collections",
    "hi": "कलेक्शन्स सूची पेज",
    "it": "Elenco collezioni",
    "ja": "コレクションリストのページ",
    "ko": "컬렉션 목록 페이지",
    "nb": "Samlingsliste-side",
    "nl": "Pagina Collectielijst",
    "pt-BR": "Lista de coleções",
    "pt-PT": "Página da lista de coleções",
    "sv": "Kollektionslistsida",
    "th": "หน้ารายการคอลเลกชัน",
    "zh-CN": "产品系列列表页面",
    "zh-TW": "商品系列清單頁面"
  },
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "da": "Alle dine kollektioner vises på denne side.",
        "de": "Alle Kategorien werden auf dieser Seite angezeigt.",
        "en": "All of your collections are displayed on this page.",
        "es": "Todas tus colecciones se muestran en esta página.",
        "fi": "Kaikki kokoelmasi näkyvät tällä sivulla.",
        "fr": "Toutes vos collections sont affichées sur cette page.",
        "hi": "आपके सभी कलेक्शन्स इस पेज पर प्रदर्शित हैं।",
        "it": "Tutte le tue collezioni sono visualizzate su questa pagina.",
        "ja": "すべてのコレクションがこのページに表示されます。",
        "ko": "모든 컬렉션이 이 페이지에 표시됩니다.",
        "nb": "Alle samlingene dine vises på denne siden.",
        "nl": "Al uw collecties worden op deze pagina weergegeven.",
        "pt-BR": "Todas as suas coleções são exibidas nesta página.",
        "pt-PT": "Todas as suas coleções são apresentadas nesta página.",
        "sv": "Alla dina kollektioner visas på denna sida.",
        "th": "คอลเลกชันทั้งหมดของคุณแสดงในหน้านี้",
        "zh-CN": "您的所有产品系列都显示在此页面上。",
        "zh-TW": "您所有的商品系列都會顯示在此頁面上。"
      }
    },
    {
      "type": "checkbox",
      "id": "use_templated_thumbnails",
      "label": {
        "en": "Use templated thumbnails"
      }
    },
    {
      "type": "checkbox",
      "id": "only_catalyst_categories",
      "label": {
        "en": "Only Catalyst categories"
      }
    },
    {
      "type": "select",
      "id": "image_type",
      "label": {
        "en": "Select image type"
      },
      "default": "square_card",
      "options": [
        {
          "value": "square_card",
          "label": {
            "en": "Square Card"
          }
        },
        {
          "value": "circular_with_title",
          "label": {
            "en": "Circular with Title"
          }
        },
        {
          "value": "square_with_title",
          "label": {
            "en": "Square with Title"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "sort",
      "label": {
        "da": "Sortér kollektioner efter:",
        "de": "Kategorien sortieren nach:",
        "en": "Sort collections by:",
        "es": "Ordenar colecciones por:",
        "fi": "Lajittele kokoelmat seuraavasti:",
        "fr": "Trier les collections par :",
        "hi": "इसके द्वारा कलेक्शन्स को क्रमबद्ध करें:",
        "it": "Ordina le collezioni per:",
        "ja": "コレクションの並べ替え方法:",
        "ko": "컬렉션 정렬 기준:",
        "nb": "Sorter samlinger etter:",
        "nl": "Collecties sorteren op:",
        "pt-BR": "Organizar coleções por:",
        "pt-PT": "Ordenar coleções por:",
        "sv": "Sortera kollektioner efter:",
        "th": "จัดเรียงคอลเลกชันตาม:",
        "zh-CN": "产品系列排序依据：",
        "zh-TW": "以下列方式排序商品系列："
      },

      "default": "alphabetical",
      "options": [
        {
          "value": "products_high",
          "label": {
            "da": "Produktantal, høj til lav",
            "de": "Produktanzahl, hoch zu niedrig",
            "en": "Product count, high to low",
            "es": "Recuento de productos, de mayor a menor",
            "fi": "Tuotteiden määrä suurimmasta pienimpään",
            "fr": "Nombre de produits, par ordre décroissant",
            "hi": "उत्पाद गणना, उच्च से निम्न",
            "it": "Conteggio decrescente prodotti",
            "ja": "商品数の多い順",
            "ko": "제품 개수, 높은 개수부터",
            "nb": "Produktantall, høy til lav",
            "nl": "Aantal producten, van hoog naar laag",
            "pt-BR": "Contagem de produtos, alta para baixa",
            "pt-PT": "Contagem de produtos, alta para baixa",
            "sv": "Produktantal, högt till lågt",
            "th": "จำนวนสินค้า จากสูงไปต่ำ",
            "zh-CN": "产品数量，从高到低",
            "zh-TW": "產品數量，從高到低"
          }
        },
        {
          "value": "products_low",
          "label": {
            "da": "Produktantal, lav til høj",
            "de": "Produktanzahl, niedrig zu hoch",
            "en": "Product count, low to high",
            "es": "Recuento de productos, de menor a mayor",
            "fi": "Tuotteiden määrä pienimmästä suurimpaan",
            "fr": "Nombre de produits, par ordre croissant",
            "hi": "उत्पाद गणना, निम्न से उच्च",
            "it": "Conteggio crescente prodotti",
            "ja": "商品数の少ない順",
            "ko": "제품 개수, 낮은 개수부터",
            "nb": "Produktantall, lav til høy",
            "nl": "Aantal producten, van laag naar hoog",
            "pt-BR": "Contagem de produtos, baixa para alta",
            "pt-PT": "Contagem de produtos, baixa para alta",
            "sv": "Produktantal, lågt till högt",
            "th": "รูปแบบรูปภาพ จากต่ำไปสูง",
            "zh-CN": "产品数量，从低到高",
            "zh-TW": "產品數量，從低到高"
          }
        },
        {
          "value": "alphabetical",
          "label": {
            "da": "Alfabetisk, A-Å",
            "de": "Alphabetisch, A-Z",
            "en": "Alphabetically, A-Z",
            "es": "Alfabéticamente, A-Z",
            "fi": "Aakkosjärjestyksessä A–Z",
            "fr": "Alphabétique, de A à Z",
            "hi": "वर्णमाला के अनुसार: A-Z",
            "it": "In ordine alfabetico, A - Z",
            "ja": "アルファベット順、 A-Z",
            "ko": "알파벳순, A-Z",
            "nb": "Alfabetisk, A–Å",
            "nl": "Alfabetisch: A-Z",
            "pt-BR": "Ordem alfabética, A–Z",
            "pt-PT": "Alfabeticamente, A-Z",
            "sv": "Alfabetiskt, A–Ö",
            "th": "เรียงตามตัวอักษร A-Z",
            "zh-CN": "按字母顺序排序，A-Z",
            "zh-TW": "依字母順序 A 到 Z"
          }
        },
        {
          "value": "alphabetical_reversed",
          "label": {
            "da": "Alfabetisk, Å-A",
            "de": "Alphabetisch, Z-A",
            "en": "Alphabetically, Z-A",
            "es": "Alfabéticamente, Z-A",
            "fi": "Aakkosjärjestyksessä Z–A",
            "fr": "Alphabétique, de Z à A",
            "hi": "वर्णमाला के अनुसार: Z-A",
            "it": "In ordine alfabetico, Z - A",
            "ja": "アルファベット順、 Z-A",
            "ko": "알파벳순, Z-A",
            "nb": "Alfabetisk, Å–A",
            "nl": "Alfabetisch: Z-A",
            "pt-BR": "Ordem alfabética, Z–A",
            "pt-PT": "Alfabeticamente, Z-A",
            "sv": "Alfabetiskt, Ö–A",
            "th": "เรียงตามตัวอักษร Z-A",
            "zh-CN": "按字母顺序排序，Z-A",
            "zh-TW": "依字母順序 Z 到 A"
          }
        },
        {
          "value": "date",
          "label": {
            "da": "Dato, ældre til nyere",
            "de": "Datum: alt bis neu",
            "en": "Date, old to new",
            "es": "Fecha: antiguo(a) a reciente",
            "fi": "Päivämäärä vanhimmasta uusimpaan",
            "fr": "Date, de la plus ancienne à la plus récente",
            "hi": "दिनांक, पुरानी से नई",
            "it": "Data, dal più vecchio al più recente",
            "ja": "古い商品順",
            "ko": "날짜(오래된 날짜부터)",
            "nb": "Dato, gammelt til nytt",
            "nl": "Datum: oud naar nieuw",
            "pt-BR": "Data, mais antiga primeiro",
            "pt-PT": "Data, mais antigos",
            "sv": "Datum, gammalt till nytt",
            "th": "วันที่ จากเก่าไปใหม่",
            "zh-CN": "日期从旧到新",
            "zh-TW": "日期 (從舊到新)"
          }
        },
        {
          "value": "date_reversed",
          "label": {
            "da": "Dato, nyere til ældre",
            "de": "Datum: neu bis alt",
            "en": "Date, new to old",
            "es": "Fecha: reciente a antiguo(a)",
            "fi": "Päivämäärä uusimmasta vanhimpaan",
            "fr": "Date, de la plus récente à la plus ancienne",
            "hi": "दिनांक पुरानी से नई",
            "it": "Data, dal più recente al più vecchio",
            "ja": "新着順",
            "ko": "날짜(최신 날짜부터)",
            "nb": "Dato, nytt til gammelt",
            "nl": "Datum: nieuw naar oud",
            "pt-BR": "Data, mais recente primeiro",
            "pt-PT": "Data, mais recentes",
            "sv": "Datum, nytt till gammalt",
            "th": "วันที่ จากใหม่ไปเก่า",
            "zh-CN": "日期从新到旧",
            "zh-TW": "日期 (從新到舊)"
          }
        }
      ]
    },
    {
      "type": "select",
      "id": "grid",
      "label": {
        "da": "Kollektioner pr. række",
        "de": "Kategorien per Reihe",
        "en": "Collections per row",
        "es": "Colecciones por fila",
        "fi": "Kokoelmia per rivi",
        "fr": "Collections par rangée",
        "hi": "प्रति पंक्ति कलेक्शन",
        "it": "Collezioni per riga",
        "ja": "行あたりのコレクション数",
        "ko": "열 별 컬렉션",
        "nb": "Samlinger per rad",
        "nl": "Collecties per rij",
        "pt-BR": "Coleções por linha",
        "pt-PT": "Coleções por linha",
        "sv": "Produktserier per rad",
        "th": "คอลเลกชันต่อแถว",
        "zh-CN": "每行产品系列数",
        "zh-TW": "每列商品系列數"
      },
      "default": "5",
      "options": [
        {
          "value": "2",
          "label": {
            "da": "2",
            "de": "2",
            "en": "2",
            "es": "2",
            "fi": "2",
            "fr": "2",
            "hi": "2",
            "it": "2",
            "ja": "2",
            "ko": "2",
            "nb": "2",
            "nl": "2",
            "pt-BR": "2",
            "pt-PT": "2",
            "sv": "2",
            "th": "2",
            "zh-CN": "2",
            "zh-TW": "2"
          }
        },
        {
          "value": "3",
          "label": {
            "da": "3",
            "de": "3",
            "en": "3",
            "es": "3",
            "fi": "3",
            "fr": "3",
            "hi": "3",
            "it": "3",
            "ja": "3",
            "ko": "3",
            "nb": "3",
            "nl": "3",
            "pt-BR": "3",
            "pt-PT": "3",
            "sv": "3",
            "th": "3",
            "zh-CN": "3",
            "zh-TW": "3"
          }
        },
        {
          "value": "4",
          "label": {
            "da": "4",
            "de": "4",
            "en": "4",
            "es": "4",
            "fi": "4",
            "fr": "4",
            "hi": "4",
            "it": "4",
            "ja": "4",
            "ko": "4",
            "nb": "4",
            "nl": "4",
            "pt-BR": "4",
            "pt-PT": "4",
            "sv": "4",
            "th": "4",
            "zh-CN": "4",
            "zh-TW": "4"
          }
        },
        {
          "value": "5",
          "label": {
            "da": "5",
            "de": "5",
            "en": "5",
            "es": "5",
            "fi": "5",
            "fr": "5",
            "hi": "5",
            "it": "5",
            "ja": "5",
            "ko": "5",
            "nb": "5",
            "nl": "5",
            "pt-BR": "5",
            "pt-PT": "5",
            "sv": "5",
            "th": "5",
            "zh-CN": "5",
            "zh-TW": "5"
          }
        }
      ]
    }
  ]
}
{% endschema %}
