/** Shopify CDN: Minification failed

Line 14:0 Unexpected "$"
Line 14:15 Unexpected "{"
Line 14:25 Expected ":"
Line 14:42 Unexpected ";"

**/
/*============================================================================
  Ajaxify Colours
  Add your theme colors in here, or create new styles.
    - If creating new styles, you may have to restyle text, headers and links
==============================================================================*/
$colorBorder: {{ settings.color_borders }};

.enquiry-sr-only{
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0,0,0,0);
  border:0
}
.enquiry-flex{
  display:flex
}
.enquiry-flex>div{
  margin:0 10px
}
.enquiry-flex>div:first-child{
  margin-left:0
}
.enquiry-flex>div:last-child{
  margin-right:0
}
.enquiry-flex-one-half{
  width:50%
}
.enquiry-flex-two-thirds{
  width:66.666666666%
}
.enquiry-flex-one-third{
  width:33.333333333%
}
.enquiry-flex-item:first-child{
  margin-left:0
}
.enquiry-flex-item:last-child{
  margin-right:0
}
.enquiry-flyout{
  width:100%;
  height:100%;
  padding-right:40px;
  max-width:500px;
  position:absolute;
  position:fixed;
  top:0;
  right:-540px;
  z-index:999999;
  background:#fff;
  overflow-y:scroll;
  border:1px solid gray;
  border-right:0;
  transition:all .5s;
  list-style-type:none;
  box-shadow:0 6.7px 5.3px #0000000c,0 12.5px 10px #0000000f,0 22.3px 17.9px #00000012;
  -webkit-font-smoothing:antialiased
}
.enquiry-flyout.enabled-shift{
  transform-origin:0 0;
  transform:translate(-500px);
  transition:transform .5s cubic-bezier(.77,.2,.05,1)
}
.enquiry-flyout-header-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px
}
.enquiry-flyout-title{
  font-size:24px;
  font-weight:700;
  color:#656565
}
.enquiry-flyout-header-container 
.close-flyout-button{
  background-color:transparent;
  border:0 none;
  font-weight:700;
  font-size:2em
}
.enquiry-flyout-header-container 
.close-flyout-button:hover{
  color:#252525;
  fill:#252525
}
.flyout-selection-container h3,
.enquiry-flyout-title{
  color:#252525
}
.enquiry-product-list-container{
  padding-left:15px;
  padding-right:15px
}
.enquiry-products{
  width:100%
}
.enquiry-thumbnail{
  max-width:70px;
  max-height:70px
}
.enquiry-button {
 width: 100%; 
}
.enquiry-button-remove{
  border:0 none;
  background-color:transparent;
  border-radius:4px
}
.enquiry-button-remove:hover{
  border:0 none;
  background-color:#eee
}
.enquiry-select{
  border-radius:4px
}
#enquiry-date-requested{
  border: 1px solid #E9E9E9;
  margin-bottom:20px;
  padding:14px 10px;
  border-radius:4px
}
#enquiry-name-label{
  position:absolute;
  left:-9999px
}
td.enquiry-thumbnail-column{
  padding:5px 15px
}
.options{
  display:flex;
  margin-bottom:1rem
}.option{
  padding:10px 20px;
  margin-right:10px;
  border:1px solid #E9E9E9;
  cursor:pointer;
  border-radius:3px
}
#js-enquiry-durations{
  flex-wrap: wrap;
  margin-bottom:1rem
}

#js-enquiry-durations .option {
  width:100%;
  margin-bottom: 15px;
}
/*# sourceMappingURL=/s/files/1/0509/2766/5342/t/2/assets/enquiry.css.map?v=1715965687 */
